page-tab-overview-detail {
    .scroll-content {
        font-size: 1.2rem;
    }

    .edit {
        ion-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 1px;
        }
    }
}
