.dark {
    background-color: #222;
    color: #fff;
}
.turquoise1 {
    background-color: #00ff00;
}
.turquoise2 {
    background-color: #cdff00;
}
.yellow2 {
    background-color: #ffff00;
}
.orange2 {
    background-color: #ff9900;
}
.red2 {
    background-color: #ff0000;
    color: #fff;
}
.red5 {
    background-color: #980000;
    color: #fff;
}
.magenta4 {
    background-color: #9900ff;
}
.sky-blue1 {
    background-color: #4a86e8;
}
