<!--
  Generated template for the TabOverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-searchbar (ionInput)="onSearch($event)" placeholder="Search ICO's name"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <table class="table table-bordered">
      <tbody ion-card *ngFor="let item of overviews | async;let i = index;" tappable (click)="goToOverviewDetail(item)">
        <tr>
          <td rowspan="4" class="col-1" [ngClass]="item.ico_color">#{{i+1}}</td>
        </tr>
        <tr>
          <td colspan="2" class="col-2" [ngClass]="item.ico_color">
            <strong>{{item.ico_name || '-'}}</strong>
          </td>
          <td class="col-3" [ngClass]="item.ico_color">{{item.ico_rating ? (item.ico_rating + '%') : '-'}}</td>
        </tr>
        <tr>
          <td>Pre-Sale</td>
          <td>IAN INVESTED</td>
          <td>IAN’S OPINION</td>
        </tr>
        <tr>
          <td *ngIf="item.ico_pre_sale_status === 'going'" class="turquoise1">GOING</td>
          <td *ngIf="item.ico_pre_sale_status === 'over'" class="red2">OVER</td>
          <td *ngIf="item.ico_pre_sale_status === undefined">-</td>
          <td *ngIf="item.ico_pre_sale_status === null">-</td>
          <td>{{ isNumber(item.ico_ian_invested) ? (item.ico_ian_invested | currency:'USD':'symbol':'1.0-5') : (item.ico_ian_invested
            || '-')}}</td>
          <td [ngClass]="item.ico_largest_bonus >= 50 ? 'red5' : item.ico_color">
            <strong>{{item.ico_ian_opinion || '-'}}</strong>
          </td>
        </tr>
        <tr class="margin-bottom"></tr>
      </tbody>
    </table>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!this.done_sub.value">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>